@import 'global-overrides';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// .card-cancel-button {
//     background-color: greenyellow !important;
// }