<div class="operations">
  <div class="operations__filter">
      <input class="operations__filter-input" type="text" placeholder="Filtrar por Nome">
  </div>
  <div class="operations__table">
      <table>
          <thead>
              <tr>
                  <th class="operations__table-cell operations__table-cell--white">Nome</th>
                  <th class="operations__table-cell operations__table-cell--white">Status Cliente</th>
                  <th class="operations__table-cell operations__table-cell--white">Data Operação</th>
                  <th class="operations__table-cell operations__table-cell--white">Hora Operação</th>
                  <th class="operations__table-cell operations__table-cell--white">Valor Operação</th>
                  <th class="operations__table-cell operations__table-cell--white">Risco Operação</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let operation of operations">
                  <td class="operations__table-cell">{{ operation.customerName }}</td>
                  <td class="operations__table-cell">
                      <p class="operations__status">
                          {{ operation.customerStatus | status }}
                          <img src="{{ operation.customerStatus | statusImg }}" class="operations__icon" width="20" height="20"/>
                      </p>
                  </td>
                  <td class="operations__table-cell">{{ operation.operationDate | date:'dd/MM/yyyy' }}</td>
                  <td class="operations__table-cell">{{ operation.operationDate | date:'HH:mm a' }}</td>
                  <td class="operations__table-cell">R$ {{ operation.operationValue | number:'0.2':'pt-BR'}}</td>
                  <td class="operations__table-cell">{{ operation.operationRisck | percent:'0.0-2':'pt-BR' }}</td>
              </tr>              
          </tbody>
      </table>
  </div>
</div>
