<div class="operations">
  <div class="operations__filter">
      <input class="operations__filter-input" type="text" placeholder="Filtrar por Nome">
  </div>
  <div class="operations__table">
      <table>
          <thead>
              <tr>
                  <th class="operations__table-cell operations__table-cell--white">Nome</th>
                  <th class="operations__table-cell operations__table-cell--white">Status Cliente</th>
                  <th class="operations__table-cell operations__table-cell--white">Data Operação</th>
                  <th class="operations__table-cell operations__table-cell--white">Hora Operação</th>
                  <th class="operations__table-cell operations__table-cell--white">Valor Operação</th>
                  <th class="operations__table-cell operations__table-cell--white">Risco Operação</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let operation of operations">
                  <td class="operations__table-cell">{{ operation.customerName }}</td>
                  <td class="operations__table-cell">
                      <p class="operations__status">
                          {{ operation.customerStatus | status }}
                          <img src="{{ operation.customerStatus }}" class="operations__icon" />
                      </p>
                  </td>
                  <td class="operations__table-cell">{{ operation.operationDate }}</td>
                  <td class="operations__table-cell">{{ operation.operationDate }}</td>
                  <td class="operations__table-cell">R$ {{ operation.operationValue }}</td>
                  <td class="operations__table-cell">{{ operation.operationRisck }}</td>
              </tr>              
          </tbody>
      </table>
  </div>
</div>
