<div class="container">
  <div class="item">
    <app-card>
      <div class="card__header" card-header>
        <img src="assets/icons/icon-client.png" class="card__image" /> 
      </div>
      <div class="card__content" card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime omnis reiciendis assumenda iure error temporibus, debitis iusto aliquam aut, ipsam ratione quasi at et deleniti! Tempora dolor illo officia ipsam!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Est voluptate eos soluta quae expedita cum quibusdam dolor vitae animi eaque, repellat asperiores blanditiis ducimus nesciunt beatae libero? Repellendus, quae cum!
        </p>
      </div>
    </app-card>
  </div>
  <div class="item">
    <app-card>
      <div class="card__header card__header--direction-column" card-header>
        <h1>Fulano da Silva</h1>
        <img src="assets/icons/icon-client.png" class="card__image" />
        <h3>Desenvolvedor Front-End</h3>
      </div>
      <div class="card__content" card-content>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid provident quidem pariatur recusandae ullam consectetur quod sed ab illo error autem, quaerat, sapiente necessitatibus iusto culpa blanditiis dolores inventore soluta.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem veritatis quisquam minima perspiciatis veniam quis vel similique a quaerat repudiandae dolorem qui quibusdam ad, sit aliquam esse. Adipisci, sit necessitatibus.
        </p>
      </div>
    </app-card>
  </div>
</div>
