<app-card>
    <app-card-header color="ca-c-card__header--bg-blue">
        <app-card-title title="Infomações do Cliente" icon="icon-client.png" />
    </app-card-header>
    <app-card-content>
        <app-card-item text="Nome" value="Vinicius Silva" />
        <app-card-line />

        <app-card-item text="Idade" value="45" />
        <app-card-line />

        <app-card-item text="Renda Mensal" value="R$ -1000,00" />
        <app-card-line />

        <app-card-item text="Nacionalidade" value="Brasileiro" />
    </app-card-content>
</app-card>