<div class="ca-c-card">
    <div class="ca-c-card__header ca-c-card__header--bg-blue">
        <div class="client-infos-card__header-title">
            <img class="client-infos-card__header-icon" src="assets/icons/icon-client.png">
            <h1>Infomações do Cliente</h1>
        </div>
    </div>
    <div class="ca-c-card__content">
        <app-card-item
            text="Nome"
            value="Vinicius Silva"/>
        <app-card-line/>

        <app-card-item
            text="Idade"
            value="45"/>
        <app-card-line/>

        <app-card-item
            text="Renda Mensal"
            value="R$ -1000,00"/>
        <app-card-line/>

        <app-card-item
            text="Nacionalidade"
            value="Brasileiro"/>
    </div>
</div>