<!-- <h1>Formato ISO8601:</h1>
<p><b>Data convertida para regiao:</b>{{ minhaData | date: 'full' }}</p>
<br>
<p><b>Data UTC-0:</b>{{ minhaData | date: 'full' : '+0000' }}</p>
<br>
<h1>Formato TimeStamp</h1>
<p><b>Timestamp para regiao:</b> {{ 1717243200000 | date: 'full' }}</p>

<p><b>Timestamp UTC-0:</b> {{ 1717243200000 | date: 'full' : '+0000' }}</p>

<h1>Formato Obj</h1>
<p><b>Objeto Date para regiao:</b> {{ minhaDataObj | date: 'full' }}</p>
<p><b>Objeto Date UTC-0:</b> {{ minhaDataObj | date: 'full' : '+0000' }}</p>
<br>

<h1>Formatação Personalizada</h1>
<p>{{ minhaData | date: "'Hoje é' EEEE 'dia' dd 'de' MMMM 'de' yyyy" }}</p>
<br>
<p>{{ minhaData | date: "'Hoje é' EEEE 'dia' dd 'de' MMMM 'de' yyyy 'ás' HH:mm" }}</p>
<br>
<p>{{ minhaData | date: "'Hoje é' EEEE 'dia' dd 'de' MMMM 'de' yyyy 'ás' HH:mm zzzz" }}</p>
<br>
<p>{{ minhaData | date: "'Hoje é' EEEE 'dia' dd 'de' MMMM 'de' yyyy 'ás' HH:mm zzzz" : '+0000' }}</p>
<br>
<p>{{ minhaData | date: "dd/MM/yyyy 'Hora' HH:mm aa" : '+0000' }}</p>
<br> -->

<h1>Formatação Padrão</h1>
<p><b>Data para regiao:</b>{{ minhaData | date }}</p>
<p><b>Data para regiao:</b>{{ minhaData | date : 'full' : undefined : 'en-US'}}</p>
<p><b>Data para regiao:</b>{{ minhaData | date : 'full' : undefined : 'pt-BR'}}</p>