<div class="user-list">
    <table mat-table [dataSource]="userList">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let element" class="user-list__item" (click)="onUserSelected(element)">
                {{element.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Data Cadastro </th>
            <td mat-cell *matCellDef="let element" class="user-list__item" (click)="onUserSelected(element)">
                {{element.dataCadastro}} </td>
        </ng-container>

        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element" class="user-list__item" (click)="onUserSelected(element)">
                {{element.ativo | status}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>